<div id="screen-first">
  <div class="cover"></div>
  <p class="text tadous-label">TADOUS</p>

  <div class="write-us">
    <p class="text">Software expertise.<br/>Create your project easily</p>

    <input class="write-task-input" placeholder="Write your task here"/>
  </div>
</div>

<div id="screen-second">

  <p class="our-expertise text text-h2">Our expertise</p>

  <div class="work-block-wrapper">
    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>
  </div>
</div>

<div id="screen-vertical-management">
  <p class="text text-h2 text-vertical-management">Vertical management</p>

  <div class="how-it-works">
    <div class="block block-1">
      <div class="top-line"></div>
      <p class="text text-default">Create project. We divided it into subtasks for talents. All projects lead by our project manager</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-2">
      <div class="top-line"></div>
      <p class="text text-default">All tasks have <b>estimation and fix cost</b>. You can follow each task on Jira board</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-3">
      <div class="top-line"></div>
      <p class="text text-default">We responsible for each project. Communicate with our managers for your project. We will do our best to complete your project in time</p>
      <div class="side-line"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
