<div id="screen-first">
  <div class="cover"></div>
  <p class="text tadous-label">TADOUS</p>

  <div class="write-us">
    <p class="text">Software expertise.<br/>Create your project easily</p>

    <input class="write-task-input" placeholder="Write your task here"/>
  </div>
</div>

<div id="screen-second">

  <p class="our-expertise text text-h2">Our expertise</p>

  <div class="work-block-wrapper">
    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>
  </div>
</div>

<div id="screen-vertical-management">
  <p class="text text-h2 text-vertical-management">Project management</p>

  <div class="how-it-works">
    <div class="block block-1">
      <div class="top-line"></div>
      <p class="text text-default">From one-hour task to year project. Any task has estimation and fix cost</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-2">
      <div class="top-line"></div>
      <p class="text text-default">All projects have own project manager, Jira board and Confluence wiki</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-3">
      <div class="top-line"></div>
      <p class="text text-default">Any project divided into short tasks. You pay only after task or whole project revision. It helps to freeze project or hire new talents</p>
      <div class="side-line"></div>
    </div>
  </div>
</div>

<div id="screen-all-benefits">

  <div class="benefits-wrapper">
    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
