<div id="screen-first" class="screen">
  <div class="cover"></div>
  <p class="text tadous-label">TA<b>DO</b>US</p>

  <div class="write-us">
    <h1 class="text text-h2">Software expertise.<br/>Create your project easily</h1>

    <button mat-flat-button color="accent" class="make-order">Start Project</button>
  </div>
</div>

<div class="screen screen-utp text text-h1 text-white">In box project management</div>

<div class="screen screen-important-benefit">
  <div class="benefit benefit-step-1">
    <span class="text text-h2 number">1</span>
    <span class="text text-default message">Write your task in <span class="highlight">free</span> style. We help to understand the details. Our expertise for <span class="highlight">free</span></span>
  </div>
  <div class="benefit benefit-step-2">
    <span class="text text-h2 number">2</span>
    <span class="text text-default message"><span class="highlight">We</span> specifying your task, create subtasks if needed. Suggest hiring talent or command for in-house or remotely</span>
  </div>
  <div class="benefit benefit-step-3">
    <span class="text text-h2 number">3</span>
    <span class="text text-default message"><span class="highlight">We</span> distribute tasks to apropriate talents, or forming command</span>
  </div>
  <div class="benefit benefit-step-4">
    <span class="text text-h2 number">4</span>
    <span class="text text-default message">All tasks will be done <span class="highlight">in time</span> under our control</span>
  </div>
</div>

<div id="screen-second" class="screen">

  <p class="our-expertise text text-h2">Our expertise</p>

  <div class="work-block-wrapper">
    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>

    <div class="work-block">
      <div class="icon"></div>
      <div class="description text-default">Android development</div>
    </div>
  </div>
</div>

<div id="screen-vertical-management" class="screen">
  <p class="text text-h2 text-vertical-management">Project management</p>

  <div class="how-it-works">
    <div class="block block-1">
      <div class="top-line"></div>
      <p class="text text-default">From one-hour task to year project. Any task has estimation and fix cost</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-2">
      <div class="top-line"></div>
      <p class="text text-default">All projects have own project manager, Jira board and Confluence wiki</p>
      <div class="side-line"></div>
    </div>
    <div class="block block-3">
      <div class="top-line"></div>
      <p class="text text-default">Any project divided into short tasks. You pay only after task or whole project revision. It helps to freeze project or hire new talents</p>
      <div class="side-line"></div>
    </div>
  </div>
</div>

<div id="screen-all-benefits" class="screen">

  <div class="benefits-wrapper">
    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>

    <div class="benefit-block">
      <div class="icon"></div>
      <h2 class="text text-h2">Benefit</h2>
      <p class="text text-default">Description where is my own to do it self</p>
    </div>
  </div>

</div>

<div id="screen-start-write-task" class="screen">
  <input class="write-your-project text text-h2" placeholder="Write your task"/>
  <span class="text text-default text-white description">We accurately understand what you want. Separate your project into subtasks, distribute them to suitable talents, and lead your project till successful complete</span>
</div>

<router-outlet></router-outlet>
