@import "~src/framework";

:host(app-main-page) {
  display: block;
  width: 100%;
  height: 100%;

  .screen {
    // padding: 4*$stepDefault 2*$stepDefault;
    @include mediaGapPadding(2*$stepDefault, 2*$stepDefault);

    &.screen-utp, #screen-start-write-task {      
      @include mediaGapPadding(0, 2*$stepDefault);
    }    
  }

  #screen-first {
    width: 100%;
    height: 100%;
    position: relative;

    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent url("~src/assets/cover-1920x1080.jpg") no-repeat center;
      opacity: 0.15;
    }


    .tadous-label {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 12px;
      color: $colorMain;
      letter-spacing: 5px;
      background-color: white;
      margin: 40px 0;
      padding: 25px;
      font-weight: bold;

      b {
        color: $colorSecondary;
      }
    }

    .write-us {
      position: absolute;
      right: 0;
      top: 50%;
      margin-bottom: 3*$stepDefault;
      width: 30*$stepDefault;
      padding: 2*$stepDefault;
      background-color: $colorDark;

      .text {
        color: white;
        font-family: $fontHighlight;
      }

      .make-order {
        margin: $stepDefault 0;
        width: 150px;
        height: 50px;
        float: right;
      }

      @media screen and (max-width: $mediaTablet) {
        width: 100%;
        padding-left: 4*$stepDefault;
      }
    }
  }

  .screen-utp {
    width: 100%;
    height: 4*$stepDefault;
    background-color: $colorDark;
    color: white;
    line-height: 4*$stepDefault;
    text-align: center;
    font-family: $fontHighlight;
  }

  .screen-important-benefit {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: $colorBackgroundLight;        

    .benefit {
      @include card();      
      width: 14*$stepDefault;
      height: 14*$stepDefault;
      @include mediaGapMargin($stepDefault, $stepDefault);
      padding: $stepDefault;

      .message {
        position: relative;
        display: block;
        height: 80px;
        text-align: center;
        padding: 0 $stepDefault;
      }

      .number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $colorDark;
        height: 2*$stepDefault;
        width: 2*$stepDefault;
        border-radius: 50%;
        font-size: 25px;
        margin: 1.5*$stepDefault auto;
      }
    }
  }

  #screen-second {
    position: relative;
    display: block;
    background-color: $colorBackgroundLight;

    .our-expertise {
      display: block;
      padding: 2*$stepDefault $stepDefault;
      padding-top: 0;
      letter-spacing: 1px;
    }

    .work-block-wrapper {
      display: grid;
      max-width: $mediaLaptopL;
      grid-template-columns: repeat(auto-fill, 280px);
      grid-auto-rows: 150px;
      justify-content: center;
      align-content: space-between;
      justify-items: center;
      margin: 0 auto;
    }

    .work-block {
      @include card();
      position: relative;
      width: 260px;
      height: 130px;
      background-color: white;
      cursor: pointer;

      &:hover {
        border: 1px solid $colorLight;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -25px;
        background-image: url("~src/assets/icon-dev.png");
        background-size: 30px;
      }

      .description {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        padding: 0 10px;
        text-align: center;
      }
    }
  }

  #screen-vertical-management {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 200px;

    .text-vertical-management {
      display: block;      
      font-weight: bold;
      flex: 1;
      text-align: center;
      padding: 2*$stepDefault;
      text-wrap: avoid;
      white-space: nowrap;
    }
    
    .how-it-works {
      max-width: $mediaLaptop;      
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      flex-wrap: nowrap;
      border: 1px solid $colorLight;
      flex: 4;
      min-width: 800px;

      .block {
        position: relative;
        max-width: $mediaMobileS;
        min-width: 200px;
        height: 230px;

        .top-line {
          position: relative;
          margin-top: 20px;
          margin-left: 50px;
          width: 80px;
          border-top: 2px solid $colorSecondary;
        }

        .side-line {
          position: absolute;
          top: 50%;
          right: 5px;
          height: 100px;
          margin-top: -50px;
          border-left: 1px solid $colorLight;
        }

        p {
          display: block;
          position: relative;
          margin-left: $stepDefault;
          margin-top: 3*$stepDefault;
          text-align: left;
          width: 70%;
        }

        &.last {
          .side-line {
            border-left: none;
          }
        }
      }            
    }        
    @include mediaElementScreen('.how-it-works', $mediaTablet) {
      background-color: transparent;
      padding: 0 2*$stepDefault;
      display: block;
      border: none;

      .block {        
        .side-line {display: none;}               
        height: auto;
        margin-top: 2*$stepDefault;
        max-width: $mediaMobileL;

        p {
          margin-top: $stepDefault;
          width: inherit;
        }
      }
    }            
  }
  @media screen and (max-width: $mediaLaptop) {
    #screen-vertical-management {    
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .how-it-works {
        min-width: 0;
      }
    }
  }    

  #screen-all-benefits {
    position: relative;
    display: block;

    .benefits-wrapper {
      display: grid;
      grid-auto-rows: 7*$stepDefault + 4*$stepDefault;
      grid-template-columns: repeat(auto-fill, 12*$stepDefault + 4*$stepDefault);
      justify-content: space-between;
      align-items: center;
      justify-items: center;

      .benefit-block {
        position: relative;
        width: 12*$stepDefault;
        height: 7*$stepDefault;

        .icon {
          position: absolute;
          width: 2*$stepDefault;
          height: 2*$stepDefault;
          top: $stepDefault;
          left: $stepDefault;
          background-image: url("~src/assets/icon-dev.png");
          background-size: 2*$stepDefault;
        }

        h2 {
          position: absolute;
          top: $stepDefault;
          left: 4*$stepDefault;
          width: 6*$stepDefault;
          height: $stepDefault;
          line-height: $stepDefault;
          font-weight: bold;
        }

        p {
          position: absolute;
          width: 10*$stepDefault;
          top: 4*$stepDefault;
          left: $stepDefault;
        }
      }

      @media screen and (max-width: $mediaLaptop) {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 12*$stepDefault + 2*$stepDefault);
      }

      @media screen and (max-width: $mediaTablet) {
        display: block;

        .benefit-block {
          min-width: $mediaMobileS;
          margin: 0 auto 2*$stepDefault;
          border-bottom: 1px solid $colorLight;
          height: auto;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }

          .icon {
            display: none;
          }

          h2 {
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: $stepDefault;
          }

          p {
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: $stepDefault;
          }
        }
      }
    }
  }

  #screen-start-write-task {
    display: flex;
    justify-content: space-between;
    padding: 3*$stepDefault;
    background-color: $colorDark;
    color: $colorMain;

    .write-your-project {
      width: 100%;
      margin-right: 4*$stepDefault;
      height: 2*$stepDefault;
      padding: 2*$stepDefault;
    }

    .description {
      display: block;
      width: 18*$stepDefault;
    }

    @media screen and (max-width: $mediaLaptop) {
      display: block;

      .write-your-project {
        margin-right: 0;
      }

      .description {
        padding-top: 2*$stepDefault;
      }
    }
  }
}
