<section class="section-profile">
  <div class="section-inner-wrapper">

    <div class="main-info">
      <div class="photo no-photo">
        <div class="add-photo"><mat-icon>add_a_photo</mat-icon><div class="text">Add Photo</div></div>
      </div>

      <div class="information-wrapper">
        <div class="personal-info-wrapper">
          <div class="name-wrapper">
            <div class="name text">Andrey Gerouch</div>
            <span class="dot"></span>
            <div class="prof-name">UI/UX Designer</div>
          </div>
          <div class="rating"></div>
        </div>

        <div class="description">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour
        </div>

        <div class="employment-wrapper">
          <div class="online-wrapper">
            <div class="online-icon"></div>
            <div class="last-seen">last seen 1 day ago</div>
          </div>
          <div class="work-hours">working about 30 hours a week</div>
        </div>
      </div>
    </div>

  </div>
</section>
